
# Don't commit deployed openmrs
data/webapps/openmrs/
data/OpenMRS/.openmrs-lib-cache
data/OpenMRS/activemq-data
data/OpenMRS/chartsearch
data/OpenMRS/lucene
data/OpenMRS/owa/
data/OpenMRS/REPORT_RESULTS
data/OpenMRS/person_images
data/OpenMRS/openmrs.log

# Ignore the provided dump file
mysql/openmrs.sql

# Editors
.vscode/*




