
# Don't commit deployed openmrs
tomcat/data/webapps/openmrs/
tomcat/data/OpenMRS/.openmrs-lib-cache
tomcat/data/OpenMRS/activemq-data
tomcat/data/OpenMRS/chartsearch
tomcat/data/OpenMRS/lucene
tomcat/data/OpenMRS/owa/
tomcat/data/OpenMRS/REPORT_RESULTS
tomcat/data/OpenMRS/person_images
tomcat/data/OpenMRS/openmrs.log
tomcat/data/logs/

# Ignore the provided dump file
build/mysql/openmrs.sql

# Editors
.vscode/*




